div {
zindex:1;
	/*background-color: #76D7C4;*/
  border: 3px;
  padding: 30px;
}

div {
zindex:2;
}

h1 {
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 58px;
	margin: 0 0 58px;
}

#errorLabel{
	background-color: red;
}

input[type="button"] {
	background-color:#76D7C4;
	border-radius:28px;
	border:1px solid #76D7C4;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:7px 7px;
	text-shadow:0px 1px 0px #2f6627;

}

div  { 
	color: #3A3A3A;
	font-family: 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	text-indent: 30px;
	margin: 0;
}

.adminButton{
	background-color:#76D7C4;
	border-radius:28px;
	border:1px solid #76D7C4;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:7px 7px;
	text-shadow:0px 1px 0px #2f6627;
}

/*background: #fe921f; color: #ffffff; display: inline-block; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 1px; margin: 0 0 30px; padding: 10px 15px 8px; text-transform: uppercase; */